
.navbar-light {
    background-color: #fff;
}

.navbar-brand {
    background: #000;
    color: #fff !important;
    padding: 5px 7px;
    border-radius: 35px;
    font-weight: 500;
}

.bg-img .img-responsive{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card {
    margin-top: -140px;
}

.img-circle {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-info {
    margin-left: 12px;
}

.profile-info h6{
    margin-bottom: 0px;
}

.profile-info p {
    margin-bottom: 0px;
}

.about-section {
    margin-bottom: 25px;
}

.contact-section p {
    margin-bottom: 5px;
}

.contact-section a {
    margin-right: 3px;
    font-size: 18px;
    color: #000;
}

.contact-section {
    margin-bottom: 25px;
}

.education-section {
    margin-bottom: 0px;
}

.skills-section {
    margin-bottom: 5px;
}
